<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        <div class=" text-white p-10">
            <h1 class=" mt-5 text-4xl text-white ">WELCOME TO HOME PAGE </h1>
            <div class="flex gap-7">
<a class="  px-5 mx-8  mt-4 rounded-lg py-2 bg-blue-500 w-30 " href="/">CREATE USER</a>
<a class=" px-5 mx-8   mt-4 rounded-lg py-2 bg-pink-700 w-30 " href="/login">LOGIN To ERP</a>
</div>
        </div>
    </div>
</body>
</html>