<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900">
        
        <div class=" mx-4 p-10 text-blue-600">
          <h1 class="text-4xl text-white " > Enter the details carefulyy..</h1>
      <form action="/login" method="post">
        <button class="block px-5 mx-8 mt-4 bg-zinc-500  rounded-lg py-2 text-black w-50 text-2xl"><a href="/front">GO BACK</a></button>
        <label class="px-5 mx-8 mt-4 text-2xl" for="email"> Enter your email</label>
        <input class="block px-5 mx-8 mt-4  rounded-lg py-2 bg-grey-500 w-50 " type="email" name="email" placeholder="www.@gmail.com">
        <label class="px-5 mx-8 mt-4 text-2xl" for="number">password</label>
        <input class="block px-5 mx-8 mt-4  rounded-lg py-2 bg-grey-500 w-50 " type="text" name="password" placeholder="4m tf33trd">
        <input class="block px-5 mx-8 mt-4  rounded-lg py-2 text-red-500 w-50 bg-zinc-500 text-4xl" type="submit" value="login">
      </form>
      
      </div>
    </div>
</body>
</html>